<div class="question">
  <header class="question__label">
    Você curte a Thinkseg?
  </header>
  <ul class="question__options-list">
    <li class="question__option">
      <label for="likes_thinkseg_1" class="question__label">
        Sim!
      </label>
      <input type="radio" name="likes_thinkseg" id="likes_thinkseg_1" value="1" class="question__radio">
    </li>
    <li class="question__option">
      <label for="likes_thinkseg_0" class="question__label">
        Não
      </label>
      <input type="radio" name="likes_thinkseg" id="likes_thinkseg_0" value="0" class="question__radio">
    </li>
  </ul>
</div>
